.node {
  width: 20px; /* Adjust the width of each node */
  height: 20px; /* Adjust the height of each node */
  outline: 1px solid #b4d4f8; /* Change this color to the desired outline color */
  display: inline-block;
  margin: 2px; /* Adjust the margin to add spacing between nodes */
}

.node-finish {
  background-color: #ff0000; /* Change this color to the desired finish node color */
}

.node-start {
  background-color: #00ff00; /* Change this color to the desired start node color */
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
    }
}

.node-wall {
    background-color: rgb(12, 53, 71);
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
    }
}

  .pathfinding-visualizer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-select {
    display: inline-block;
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
    border-color: #4caf50;
}

.custom-select:hover {
    border-color: #4caf50;
}

.button-container {
    display: flex;
    align-items: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388e3c;
}

.disabled-button {
    background-color: lightgray;
    color: white;
    cursor: not-allowed;
}

.alert {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}



  button:disabled {
    background-color: lightgray; /* Change this color to the desired disabled color */
    color: white; /* Change this color to the desired text color when disabled */
  }

  .custom-select {
    display: inline-block;
    font-size: 16px;
    color: #333; /* Change this color to the desired text color */
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ddd; /* Change this color to the desired border color */
    border-radius: 5px;
    background-color: #fff; /* Change this color to the desired background color */
    cursor: pointer;
  }
  
  .custom-select:focus {
    outline: none;
    border-color: #4caf50; /* Change this color to the desired focus border color */
  }
  
  .custom-select:hover {
    border-color: #4caf50; /* Change this color to the desired hover border color */
  }